body{
  background-color:aliceblue;
}
#clock {
  width: 400px;
  height: 400px;
  margin: 20px auto;
  border: 10px solid black;
  border-radius: 50%;
  position: relative;

}

#seconds {
  width: 4px;
  height: 180px;
  background-color: gray;
  margin-left: 198px;
  margin-top: 20px;
  animation: segundos 2s linear 0s normal;
  -webkit-animation: segundos 2s linear 0s normal;
}

#minutes {
  width: 6px;
  height: 140px;
  background-color: darkslategray;
  margin-left: 198px;
  margin-top: 20px;
}

#hours {
  width: 8px;
  height: 120px;
  background-color: black;
  margin-left: 196px;
  margin-top: 80px;
}

@keyframes segundos{
  100% {
    transform: rotateZ(360deg) translateY(200px);
    -webkit-transform: rotateZ(360deg) translateY(200px);
    -moz-transform: rotateZ(360deg) translateY(200px);
    -ms-transform: rotateZ(360deg) translateY(200px);
    -o-transform: rotateZ(360deg) translateY(200px);
}
}
